@model EnvironmentalSurveyPortal.Models.Survey

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Create New Survey";
    ViewBag.Back = "/Admin/SurveyBoard";
}

<div id="content">
    @Html.Partial("CreateSurveyForm", new ViewDataDictionary<EnvironmentalSurveyPortal.Models.Survey>())
</div>