@model EnvironmentalSurveyPortal.Models.Survey

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Create New Survey";
}

<div id="content">
    @Html.Partial("CreateSurveyForm", Model)
</div>