@model EnvironmentalSurveyPortal.Models.User

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Create User";
}

<div id="content">
    @Html.Partial("CreateAccountForm", new ViewDataDictionary<EnvironmentalSurveyPortal.Models.RegisterAccount>())
</div>
