@model EnvironmentalSurveyPortal.Models.Competition
@{
    ViewBag.Title = "Edit Competition";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div id="content">
        @Html.Partial("EditCompetitionForm", Model)
    </div>

