#wrapper {
}

#content-wrapper {
    padding-top: 80px;
    margin-left: 224px;
}

.sidebar-toggled #content-wrapper {
    margin-left: 104px;
}

#accordionSidebar {
    position: fixed;
    z-index: 10000;
}

.topbar {
    padding-left: 224px;
}

.sidebar-toggled .topbar {
    padding-left: 104px;
}

.ql-toolbar,
.ql-container {
    border-radius: 25px;
}

.editor {
    height: 500px !important;
}

select.form-control-user {
    font-size: .8rem;
    border-radius: 25px;
    padding: 0 1rem !important;
}

.date-control-user {
    font-size: .8rem;
    border-radius: 25px;
    padding: 0 1rem !important;
}

.date-control-user-md {
    height: 43px;
}

.form-control-user-lg {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0 1rem !important;
    height: 50px;
}

.form-control-user-md {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0 1rem !important;
    height: 43px;
}

.field-validation-error {
    margin-left: 1.2rem;
}

.form-group-user {
    border: 1px solid #d1d3e2 !important;
    border-radius: 25px !important;
    font-size: .8rem;
    padding: 11px 15px !important;
}

@media (max-width: 768px) {
    #content-wrapper {
        margin-left: 104px;
    }

    .sidebar-toggled #content-wrapper {
        margin-left: 0;
    }

    .topbar {
        padding-left: 124px;
    }

    .sidebar-toggled .topbar {
        padding-left: 20px;
    }
}

#form-create-survey .image-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #dbdbdb;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px #d1d3e2 solid;
    overflow: hidden;
}

form .image-preview .upload-wrapper,
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.40);
    transition: all 500ms;
}

    form .image-preview:hover .upload-wrapper {
        opacity: 1;
    }

    form .image-preview .upload-wrapper input {
        display: none;
    }