
@{
    ViewBag.Title = "Suport";
}

<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title" style="color:orangered">Support</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <div id="map" style="width:350px;height:350px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.320129079049!2d106.66581634144399!3d10.786775016026814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech+Computer+Education+HCM!5e0!3m2!1sfr!2s!4v1564461291600!5m2!1sfr!2s" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <p></p>
                <div class="find-widget">
                    Company:  <a href="http://aptech.fpt.edu.vn/">FPT</a>
                </div>
                <div class="find-widget">
                    Address: <a href="#">590 Cách Mạng Tháng 8, Phường 11, Quận 3, Hồ Chí Minh 723564</a>
                </div>
                <div class="find-widget">
                    Phone:  <a href="#">028 3846 0846</a>
                </div>

                <div class="find-widget">
                    Website:  <a href="http://aptech.fpt.edu.vn/">aptech.fpt.edu.vn</a>
                </div>
                <div class="find-widget">
                    Program: <a href="#">Mon to Sat: 08:30 AM - 05:00 PM</a>
                </div>
            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <!-- Name -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Subject -->
                    <div class="form-group label-floating">
                        <label class="control-label">Subject</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit text-center mt-5">
                        <button class="btn btn-success" type="submit" id="form-submit">
                            <i class="material-icons mdi mdi-message-outline"></i> Send
                        </button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
